<div class="container">
  <div class="row">
    <div class="show-for-large large-6 columns">
      <div class="block">
        <img src="/assets/media/banner.jpg" alt="Global Game Jam 2017 - Honolulu">
      </div>
    </div>
    <div class="small-12 large-6 columns">
      <div class="block info-block">
        <h1>About Global Game Jam</h1>
        <img src="/assets/media/global_game_jam_logo.jpg" alt="Global Game Jam Logo">
        <p>Global Game Jam is the world's largest creative event where thousands of people in hundreds of locations worldwide gather at local sites to meet other creative people, artists, programmers, sound designers, writers, and game enthusiasts to build games over a span of just 48 hours.</p>
          
        <p>More from the official <a href="http://globalgamejam.org/about" target="_blank">Global Game Jam®</a> page:</p>
        <p>The Global Game Jam® (GGJ) is the world's largest game jam event (game creation) taking place around the world at physical locations. Think of it as a hackathon focused on game development. It is the growth of an idea that in today’s heavily connected world, we could come together, be creative, share experiences and express ourselves in a multitude of ways using video games – it is very universal. The weekend stirs a global creative buzz in games, while at the same time exploring the process of development, be it programming, iterative design, narrative exploration or artistic expression. It is all condensed into a 48 hour development cycle. The GGJ encourages people with all kinds of backgrounds to participate and contribute to this global spread of game development and creativity.</p>

        <p>The structure of a jam is usually that everyone gathers on Friday late afternoon, watches a short video keynote with advice from leading game developers, and then a secret theme is announced. All sites worldwide are then challenged to make games based on that same theme, with games to be completed by Sunday afternoon. In January 2016, we had over 600 locations in 93 countries create 6866 games in one weekend! GGJ 2017 is January 20-22 at a location near you… if not you can make one of your own. The jam is known for helping foster new friendships, increase confidence and opportunities within the community. The jam is always an intellectual challenge. People are invited to explore new technology tools, trying on new roles in development and testing their skills to do something that requires them to design, develop create, test and make a new game in the time span of 48 hours.</p>

        <p>The GGJ stimulates collaboration and is not a competition.</p>
      </div>
    </div>
  </div>
</div>