<div class="container">
  <div class="row">
    <div class="show-for-large large-6 columns">
      <div class="block">
        <img src="/assets/media/banner.jpg" alt="Global Game Jam 2017 - Honolulu">
      </div>
    </div>
    <div class="small-12 large-6 columns">
      <div class="block info-block">
        <h1>Contact</h1>
        <p>Need to contact someone about Global Game Jam 2017 - Honolulu? Email <a href="mailto:kelli@gomagames.com">kelli@gomagames.com</a></p>
        <p>This local jam site is part of the official <a href="http://globalgamejam.org">Global Game Jam®</a> event.</p>
        <h1>Local Sponsors</h1>
        <h2><a href="http://gomagames.com" target="_blank">Goma Games</a></h2>
        <p>Organizer</p>

        <h2><a href="http://devleague.com" target="_blank">DevLeague</a></h2>
        <p>Educational Partner &amp; Workshops Host</p>

        <h2>AirshipCMS.io</h2>
        <p>Software Sponsor</p>

        <h2><a href="http://sudokrew.com" target="_blank">Sudokrew</a></h2>
        <p>Partner</p>

        <h2>HTDC</h2>
        <p>Partner</p>

        <h2>HiCapacity</h2>
        <p>Partner</p>

        <h1>Global Sponsors</h1>
        <p>Find out more about <a href="http://globalgamejam.org/sponsors" target="_blank">Global Sponsors</a> of Global Game Jam.</p>
      </div>
    </div>
  </div>
</div>