<div class="container">
  <div class="row">
    <div class="show-for-large large-6 columns">
      <div class="block">
        <img src="/assets/media/banner.jpg" alt="Global Game Jam 2017 - Honolulu">
      </div>
    </div>
    <div class="small-12 large-6 columns">
      <div class="block info-block">
        <h1>Frequently Asked Questions</h1>
        <p>Here are FAQs relevant to our local game jam site. If you have more questions, they may be answered on the <a href="http://globalgamejam.org/faq" target="_blank">official GGJ website</a>. If you <em>still</em> have a question, you can <a href="/contact">Contact Us</a>.</p>

        <h3>What is a "Jam"?</h3>
        <p>"Jam" is a reference to musician jam sessions, not traffic or spreadable fruit.</p>
        <p>The goal is to come together and make a video game, or non-digital game like a board game or card game. Participants rapidly prototype game designs and hopefully inject new ideas to help grow the game industry. We share a common theme and constraints. We ask participants to create a game from beginning to end in a prescribed time (maximum of 48 hours). The brief time span is meant to help encourage creative thinking to result in small but innovative and experimental games. (GGJ Official)</p>

        <h3>What is Global Game Jam®?</h3>
        <p>"Jam" is a reference to musician jam sessions, not traffic or spreadable fruit.</p>
        <p>The goal is to come together and make a video game, or non-digital game like a board game or card game. Participants rapidly prototype game designs and hopefully inject new ideas to help grow the game industry. We share a common theme and constraints. We ask participants to create a game from beginning to end in a prescribed time (maximum of 48 hours). The brief time span is meant to help encourage creative thinking to result in small but innovative and experimental games. (GGJ Official)</p>

        <h3>Is Global Game Jam a competition?</h3>
        <p>No, Global Game Jam encourages innovation, collaboration and creativity. We find competition often diminishes collaboration and innovation. Every jammer is a winner at GGJ, with their prize being the games and friends they make. (GGJ Official)</p>

        <h3>What are the requirements for being a participant?</h3>
        <p>To participate in the Global Game Jam event, you must be a legal adult in the country in which you attend the GGJ.</p>
        <p>No person may participate in a Global Game Jam event® unless they have reached 18 years of age or the age of majority (e.g. are legal adults) in the country of participation (whichever is younger). As an example, participants attending a GGJ site in Scotland or Cuba, must be 16 years of age or older to participate as that is the age of majority, while participants that join a site in the United States, New Zealand or Japan must be 18+ to attend. The only exception to his rule, is if the <b>minor is accompanied by a legal guardian at all times</b> while attending the jam.</p>

        <h3>Will FOOD be provided during the event?</h3>
        <p>Nope. Please bring your own breakfast, lunch, and dinner! Alternatively, the Manoa Marketplace is right next door to the building, so you can grab a bite to eat from any of the restaurants there.</p>
        
        <h3>What kind of game can I make?</h3>
        <p>You can make a digital video game, board game, card game, or any other media! You can use any software available to you.</p>

        <h3>How are teams formed?</h3>
        <p>You can work with people you know, or meet new people and form a team! There will be a brainstorm session where you have a chance to you game idea(s), and rally other participants to join your team.</p>
        
        <h3>Do I need special skills?</h3>
        <p>Nope. Come in with whatever skills you have. Have great ideas and be willing to contribute any effort possible to your team. Both digital and non-digital games are encouraged.</p>

        <h3>What is your content policy?</h3>
        <p>The Global Game Jam® is about experimentation, sharing, collaboration and learning from each other. All Jammers are expected to share their games by uploading their games, assets, source code etc.</p>

        <p>Games are uploaded under the Attribution-NonCommercial-ShareAlike 4.0 Creative Commons license (<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">https://creativecommons.org/licenses/by-nc-sa/4.0/</a>).</p>

        <p>This basically means the team that created the game, owns the original content and can do with it as they please, and that Global Game Jam® retains an original copy that other people can download, modify and distribute for non-commercial purposes.</p>

        <p>All files necessary to run the game, as well as all assets, source code and project files created during the GGJ and necessary to rebuild/compile &amp; link the game from scratch must be uploaded as well. Third party tools, libraries, engines and assets that are used for the game, but not created during the GGJ, may be omitted from the GGJ project submission. However, clear instructions must be included on how to purchase or obtain these resources in order to continue development on the game. (<a href="http://globalgamejam.org/code-conduct-legal-policies" target="_blank">GGJ Official Content Policy</a>).</p>

        <h3>What is the official hashtag for Global Game Jam® 2017?</h3>
        <p>Worldwide hashtag: #ggj17. Local hashtag: #ggjhnl</p>

        <h3>What are the policies on Liability, Inclusiveness, Code of Conduct, etc?</h3>
        <p>Read all about this on the official <a href="http://globalgamejam.org/code-conduct-legal-policies" target="_blank">Code of Conduct</a> and <a href="http://globalgamejam.org/faq" target="_blank">FAQ</a> pages.</p>
      </div>
    </div>
  </div>
</div>