<div class="container">
  <div class="row">
    <div class="show-for-large large-6 columns">
      <div class="block">
        <img src="/assets/media/banner.jpg" alt="Global Game Jam 2017 - Honolulu">
      </div>
    </div>
    <div class="small-12 large-6 columns">
      <div class="block info-block">
        <h1>Upcoming Workshops</h1>

        <h2>Rapid Prototyping &amp; 2D Game Dev with Unity</h2>
        <p>This workshop hosted by <a href="http://devleague.com" target="_blank">DevLeague</a> will be held on <b>Thursday, January 19, from 6pm - 8pm</b> in the Manoa Innovation Center Ideation Room.</p>
        <p>- Learn how to use the Asset store to find premade assets and import them into your project for quick prototyping.
          <br>- Learn about Unity 2D  game development and 2D game collisions.
          <br>- Learn about particle effects.
        </p>
        
        <h2>Web-Based Deployment</h2>
        <p>On <b>Saturday, Jan 21, from 10am - 10:45am</b>, will be demonstrating a rapid development &amp; deployment workflow using <a href="http://airshipcms.io" target="_blank">AirshipCMS.io</a>, our software sponsor's product. All attendees will receive a free account to deploy their hackathon projects. Accounts include web &amp; asset hosting.</p>

        <h1>Past Workshops</h1>
        <p>Leading up to the Game Jam, <a href="http://devleague.com">DevLeague</a> hosted a series of Game Development Workshops. Watch the workshop livestream videos:</p>

        <h2>DevLeague - GameDev with Phaser 1</h2>
        <p>Intro to PhaserJS. Get the <a href="http://slides.com/devleague/phaser-1/" target="_blank">Slides</a>.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xoVzdcoK5KQ" frameborder="0" allowfullscreen></iframe>

        <h2>DevLeague - GameDev Art Workshop</h2>
        <p>Super basic intro to making 2D art assets. Get the <a href="http://slides.com/kelliborgonia/2d-game-artart-to-spritesheet-workflow#/">Slides</a>. If interested in the Making-of Videos for detailed step-by-step tutorials of Photoshop, Sketch, and Texture Packer, find them <a href="https://www.youtube.com/playlist?list=PLd4DDnfIt3SILHj-fNDbu7Om01xyEG-7T" target="_blank">here</a>.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LurABjXle4E" frameborder="0" allowfullscreen></iframe>

        <h2>DevLeague - GameDev with Phaser 2</h2>
        <p>Phaser Part 2. Part 2 builds off of the topics covered in Part 1 of this series. Participants will be creating a platformer type game with vanilla js, oop, and a level editor.</p>
        <p>This workshop will be interactive, participants will get to follow the patterns set to extend the base game functionality to add the ability to collect ammo, fire pellets at enemies, code the collision detection logic, and more. Get the <a href="http://slides.com/devleague/phaser-2/live">Slides</a>.</p>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/Ee2dlMvjqvU" frameborder="0" allowfullscreen></iframe>

        <p>Making-Of Videos <a href="https://www.youtube.com/watch?v=oA-eDu5WRQM" target="_blank">Part 1</a>, <a href="https://www.youtube.com/watch?v=mWnNWXEJKKY" target="_blank">Part 2</a>, <a href="https://www.youtube.com/watch?v=DtBptpCjv5o" target="_blank">Part 3</a>, <a href="https://www.youtube.com/watch?v=Gg2lepOSHHo" target="_blank">Part 4</a>, and <a href="https://www.youtube.com/watch?v=AJN3_E3s09M" target="_blank">Part 5</a>. More PhaserJS on MUTE, and working through creating a Doodle Jump Clone in preparation for the 2nd live Phaser workshop.</p>
        
        <h2>DevLeague - GameDev Workshop with Phaser pt 3</h2>
        <p>PhaserJS workshop. Part 3 touches up with web sockets to build online multiplayer games. Get the <a href="http://slides.com/devleague/phaser-3/live">Slides</a>.</p>
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4Cne9jXTTsk" frameborder="0" allowfullscreen></iframe>

        <h2>DevLeague - GameDev Workshop - Intro to Unity</h2>
        <p>Intro to Unity workshop.</p>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/qVMSUS_hAog" frameborder="0" allowfullscreen></iframe>

        <h1>More Resources</h1>
        <p>The official Global Game Jam website has put together a list of <a href="http://globalgamejam.org/jammer-resources" target="_blank">Jammer Resources</a>. In addition, GGJ organizers have also put together a <a href="https://docs.google.com/document/d/1qQf5zjvJHEB40xYhTiFo9GzNYUBt8iAw8vzPu2Oy354/edit" target="_blank">Google Doc of Resources</a>.</p>
      </div>
    </div>
  </div>
</div>