<div class="container">
  <div class="row">
    <div class="small-12 large-6 columns">
      <div class="block">
        <img src="/assets/media/banner.jpg" alt="Global Game Jam 2017 - Honolulu">
      </div>
    </div>
    <div class="small-12 large-6 columns">
      <div class="block info-block homepage-block">
        <h1>Global Game Jam 2017</h1>
        <p>Global Game Jam is the world's largest creative event where thousands of people in hundreds of locations worldwide gather at local sites to meet other creative people, artists, programmers, sound designers, writers, and game enthusiasts to build games over a span of just 48 hours.</p>
        <h2>Event Kickoff</h2>
        <p>Jan 20, 2017 5:30pm
          <br>Manoa Innovation Center
          <br>Presentation Room
          <br>2800 Woodlawn Dr. Honolulu, HI 96822
        </p>
        <p>The event is FREE!! In order to participate in this event, you will need to sign up at the Official Global Game Jam page. HURRY!!! Sign up ASAP so we can get a good headcount for the event.</p>
        <p class="centered">
          <a href="http://globalgamejam.org/2017/jam-sites/ggj-honolulu" class="button sign-up-button" target="_blank">Sign Up Now!!</a>
        </p>
        <p>For those of you that are new to this event, read <a href="/about">All About Global Game Jam</a>. We also have a list of <a href="/resources">Resources</a> prepared for participants that are interested in some introductory game development tools. You might also have some questions about whether you can work offsite, who can be on your team, how old you have to be to participate, what to eat, etc. Your answers are probably on the <a href="/faq">FAQ</a> page. If you cannot find you answer in the FAQ, please feel free to <a href="/contact">Contact Us</a>.</p>
        <p>Ready to start jamming? Here's the <a href="/schedule">Full Schedule</a> we have planned, and information about the <a href="/theme">Theme &amp; Diversifiers</a>.</p>

        <!-- <div class="workshops">
          <h1 class="rule">Rapid Prototyping &amp; 2D Game Dev with Unity</h1>
          <p>In preparation for Global Game Jam, DevLeague has hosted some FREE Game Development Workshops! The final workshop before Global Game Jam will be held the day before the Global Game Jam on <b>Thursday, January 19, from 6pm - 8pm</b> in the Manoa Innovation Center Ideation Room. The topic will be <b>Rapid Prototyping &amp; 2D Game Dev with Unity</b>. Topics will include how to use the asset store to find premade assets and import them into your project for quick prototyping, 2D game development and 2D game collisions, and particle effects.</p>
          <p>For more details on each workshop, as well as slideshows, videos, and other resources, visit <a href="http://devleague.com" target="_blank">devleague.com</a> for more information.</p>
        </div> -->
      </div>
    </div>
  </div>
</div>