<div class="container">
  <div class="row">
    <div class="show-for-large large-6 columns">
      <div class="block">
        <img src="/assets/media/banner.jpg" alt="Global Game Jam 2017 - Honolulu">
      </div>
    </div>
    <div class="small-12 large-6 columns">
      <div class="block info-block">
        <h1>Global Game Jam 2017</h1>
        <p>If you haven't signed up yet, please sign up now!</p>
        <p class="centered">
          <a href="http://globalgamejam.org/2017/jam-sites/ggj-honolulu" class="button sign-up-button" target="_blank">Sign Up Now!!</a>
        </p>
        
        <h1>Global Game Jam Schedule</h1>
        <h2>Friday, Jan 20, 2017</h2>
        <p>Manoa Innovation Center
          <br>Presentation Room
          <br>2800 Woodlawn Dr. Honolulu, HI 96822
        </p>
        <table>
          <thead>
            <tr>
              <th>Time</th>
              <th>Event</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>5:30pm</td>
              <td>Participant check-in &amp; meet other participants.</td>
            </tr>
            <tr>
              <td>5:50pm</td>
              <td>Welcome, Intro to Global Game Jam, Keynote Presentation. This is important if you've never been to a Game Jam before!! Don't be late!!</td>
            </tr>
            <tr>
              <td>6:00pm</td>
              <td>Theme Announcement!! Don't miss it!! We are also LIVE streaming on Twitch from 6:00pm - 7:00pm.</td>
            </tr>
            <tr>
              <td>6:15pm</td>
              <td>Brainstorming, Game Pitches, &amp; Group Formation</td>
            </tr>
            <tr>
              <td>7:15pm</td>
              <td>Wrap Up &amp; Start Jamming!</td>
            </tr>
            <tr>
              <td>8:15pm</td>
              <td>Make sure we have your email so we can add you to Slack (ggjhnl.slack.com). If we didn't add you yet, email <a href="mailto:kelli@gomagames.com">kelli@gomagames.com</a> and remind us to send you a Slack invite.</td>
            </tr>
            <tr>
              <td>?? pm</td>
              <td>MIC Presentation Room officially closes when the last MIC keycard holder retires for the night. (We will be there at least until 9pm!)</td>
            </tr>
          </tbody>
        </table>

        <h2>Saturday, Jan 21, 2017</h2>
        <p>Participants may work in the Presentation Room (open all day), offices &amp; classrooms (if a team member has access) or offsite. No physical check-in required. 
        </p>
        <p><b>NOTICE: DO NOT PARK UNDER TREES!</b> Tree-trimming has been scheduled for today. Do not leave your car in any stalls near trees or they could get damaged!!</p>
        <table>
          <thead>
            <tr>
              <th>Time</th>
              <th>Event</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>9:30am</td>
              <td>Presentation Room Re-Opens.</td>
            </tr>
            <tr>
              <td>10:00am</td>
              <td>Workshop: Development &amp; deployment with software sponsor, <a href="http://airshipcms.io" target="_blank">AirshipCMS.io</a>.</td>
            </tr>
            <tr>
              <td>12:00pm</td>
              <td>Registration Deadline on the official <a href="http://globalgamejam.org" target="_blank">Global Game Jam</a> site. Be sure you are signed up and have a login by this time!</td>
            </tr>
            <tr>
              <td>2:00pm</td>
              <td><b>Slack Check in!</b> Shout out to the <b>#ggj17-announcements</b> channel and let us know your final project name so we can start planning presentation time slots for tomorrow.</td>
            </tr>
            <tr>
              <td>6:00pm</td>
              <td>Only 1 person on your team should do this, though it must be done by TODAY.
              <br>
              <br><b>Set up an Official Project</b>
              <br>1. Go to the <a href="http://globalgamejam.org/" target="_blank">GGJ Website</a>.
              <br>2. Click on <b>Upload a Game</b> on the top left of your screen. (Links to your game can also be found under the My Game link, or My Profile page).
              <br>4. Enter your <b>Project Name</b> and <b>About</b> information.
              <br>5. Save.
              <br><br>Your game does not need to be finished. You can come back tomorrow to fill out the rest of the information.</td>
            </tr>
            <tr>
              <td>?? pm</td>
              <td>MIC Presentation Room officially closes when the last MIC keycard holder retires for the night. (We will be there at least until 9pm!)</td>
            </tr>
          </tbody>
        </table>

        <h2>Sunday, Jan 22, 2017</h2>
        <p>Participants may work in the Presentation Room (open all day), offices &amp; classrooms (if a team member has access) or offsite. <b>Be back at the Presentation Room by 3:30pm for Presentations &amp; Demos!!</b></p>
        <p>Manoa Innovation Center
          <br>Presentation Room
          <br>2800 Woodlawn Dr. Honolulu, HI 96822
        </p>
        <table>
          <thead>
            <tr>
              <th>Time</th>
              <th>Event</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>9:30am</td>
              <td>Presentation Room Re-Opens. Continue working on your projects.</td>
            </tr>
            <tr>
              <td>2:00pm</td>
              <td><b>Start Submitting Games!</b> Shout out to the <b>#ggj17-announcements</b> channel and let us know how you are doing! You should be wrapping up now and preparing your project for submission.</td>
            </tr>
            <tr>
              <td>3:00pm</td>
              <td><b>Submission Deadline!</b> Please follow the <a href="/submission">Instructions for Submission</a></td>
            </tr>
            <tr>
              <td>3:00pm</td>
              <td>Quick Break / Take a Nap before Presentations.</td>
            </tr>
            <tr>
              <td>3:30pm</td>
              <td>Presentations/Demos in the Presentation Room</td>
            </tr>
            <tr>
              <td>5:00pm</td>
              <td>End</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>