<div class="container">
  <div class="row">
    <div class="show-for-large large-6 columns">
      <div class="block">
        <img src="/assets/media/banner.jpg" alt="Global Game Jam 2017 - Honolulu">
      </div>
    </div>
    <div class="small-12 large-6 columns">
      <div class="block info-block">
        <h1>Game Submissions</h1>
        <p>Further instructions for submission will be posted soon!</p>
        <!-- <p>Form (local submission).</p> -->
        <!-- <p>https://docs.google.com/presentation/d/1iCgz4knXyBjcWXfjsap5zk79GO6H_uiKl0OJmcgXSOM/</p> -->
      </div>
    </div>
  </div>
</div>