<div class="container">
  <div class="row">
    <div class="show-for-large large-6 columns">
      <div class="block">
        <img src="/assets/media/banner.jpg" alt="Global Game Jam 2017 - Honolulu">
      </div>
    </div>
    <div class="small-12 large-6 columns">
      <div class="block info-block">
        <h1>Game Submissions</h1>

        <h2>Step 1: Fill out a short form!!</h2>
        <p>Allow 5 minutes to fill out this short form about your game!</p>
        <form class="submission-form" data-abide novalidate>
          <label for="game_title">Game Title</label>
          <input id="game_title" class="form-required" required type="text" name="game_title" placeholder="Project Name">

          <label for="team_members">Team Members</label>
          <input id="team_members" class="form-required" required type="text" name="team_members" placeholder="Team Member, Team Member, Team Member...">

          <label for="game_description">Game Description</label>
          <textarea id="game_description" class="form-required" required name="game_description" placeholder="Description..."></textarea>

          <label for="live_url">Live URL (optional)</label>
          <div class="input-group">
            <span class="input-group-label">http://</span>
            <input class="input-group-field" id="live_url" type="text" name="live_url" placeholder="projectname.airshipcms.io">
          </div>

          <label for="github_url">Github URL (optional)</label>
          <div class="input-group">
            <span class="input-group-label">https://github.com/</span>
            <input class="input-group-field" id="github_url" type="text" name="github_url" placeholder="username/repository">
          </div>

          <button type="submit" id="submit">Submit</button>
          <p class="notification" style="display: none">Your game has been submitted!</p>
        </form>

        <h2>Step 2: Submit to GGJ Official</h2>
        <p>Allow yourself <b>at least an hour</b> to gather all your files &amp; screenshots and prep for submission.</p>
        <p class="secret">Secret: If you are short on time, just fill out what you can, and update your submission <em>right after local presentations.</em> GGJ Official says that "pencils down" is 3pm, and Uploads are officially due at 5pm. Though really...just have fun making a game, and upload what you can. <em>Submissions don't have to look pretty or be perfect! Just submit something!</em></p>
        <h3>Peruse the Rules</h3>
        <p>Be sure the files you are uploading abide by GGJ Official's <a href="http://globalgamejam.org/code-conduct-legal-policies" target="_blank">Official Rules</a>. Your stuff will be submitted under an Open Source license, though you (the creator) can go off and continue developing your game, profit, etc. Read the Rules if you need more information. ...and if in doubt...maybe leave it out?</p>

        <h3>Organize Your Files</h3>
        <p>GGJ Official would like files organized in a specific structure. Here's an <a href="http://ggj.s3.amazonaws.com/GGJ_directory_structure.zip" target="_blank">Example Directory</a>. Your main directory (folder) should have a license file and 4 sub directories: <b>/Source</b>, <b>/Release</b>, <b>/Press</b>, and <b>/Other</b>.</p>
        <ul>
          <li>
            <b>/Source</b><br>
            <p>This is for the actual source files, like C or C++ files and assets like sound, music and art. Do not include game engines or tools. Do include your project folders from Unity or GameMaker. Write a README file that explains how to use your code to make the game. For non-digital games, your PDF instructions would go here. Test to make sure you have everything!</p><br>
          </li>
          <li>
            <b>/Release</b><br>
            <p>This is for the executable version of your game. If possible, you can include multiple versions for different architectures (like Mac OS X, Windows versions and APK files). Include a README file that explains what OS or environment is needed to run the game.</p><br>
          </li>
          <li>
            <b>/Press</b><br>
            <p>This is for screenshots and videos about your game. Include at least one 1024x768 screenshot of your game. If you have links to YouTube videos or other online resources, put them in a text file here.</p><br>
          </li>
          <li>
            <b>/Other</b><br>
            <p>Anything else you like! For example: More licenses, Credits, Contact information.</p>
          </li>
        </ul>
        
        <p>Zip up your main project directory.</p>
        <h3>Prep Screenshots, etc.</h3>
        <p>Prepare a <b>Featured Image</b>, <b>Screenshots</b>, <b>Team Photo</b>, and <b>Video</b> if you have one. Yeah, that's a lot. Just do what you can.</p>

        <h3>Submit Your Game</h3>
        <ol>
          <li>Go to the <a href="http://globalgamejam.org/" target="_blank">GGJ Website</a>.</li>
          <li>Click on <b>Upload a Game</b> if you haven't started the process yet (but you should have already done that yesterday) on the top left of your screen. Links to your game can also be found under the <b>My Game</b> link, or on the <b>My Profile</b> page.</li>
          <li>Fill out all the things. Upload what you can.</li>
          <li>Save.</li>
        </ol>
      </div>
    </div>
  </div>
</div>
