<div class="container">
  <div class="row">
    <div class="show-for-large large-6 columns">
      <div class="block">
        <img src="/assets/media/banner.jpg" alt="Global Game Jam 2017 - Honolulu">
      </div>
    </div>
    <div class="small-12 large-6 columns">
      <div class="block info-block">
        <h1>Game Submissions</h1>
        <!-- <p>https://docs.google.com/presentation/d/1iCgz4knXyBjcWXfjsap5zk79GO6H_uiKl0OJmcgXSOM/</p> -->
        
        <h2>Saturday Jan 21</h2>
        <p>Only 1 person on your team should do this, though it must be done by TODAY. <b>This is GGJ Official's Deadline to Set up Project</b>:
        <ol>
          <li>Go to the <a href="http://globalgamejam.org/" target="_blank">GGJ Website</a>.</li>
          <li>Click on <b>My Profile</b>.</li>
          <li>Under your picture, click the <b>Upload a game</b> link.</li>
          <li>Enter your <b>Project Name</b> and <b>About</b> information.</li>
          <li>Save.</li>
        </ol>
        <p>Your game does not need to be finished. You can come back tomorrow to fill out the rest of the information.</p>

        <h2>Sunday Jan 22</h2>
        <h3>Step 1: Fill out a short form!! (allow 5 min)</h3>
        <form class="submission-form" data-abide novalidate>
          <label for="game_title">Game Title</label>
          <input id="game_title" class="form-required" required type="text" name="game_title" placeholder="Project Name">

          <label for="team_members">Team Members</label>
          <input id="team_members" class="form-required" required type="text" name="team_members" placeholder="Team Member, Team Member, Team Member...">

          <label for="game_description">Game Description</label>
          <textarea id="game_description" class="form-required" required name="game_description" placeholder="Description"></textarea>

          <label for="live_url">Live URL (optional)</label>
          <div class="input-group">
            <span class="input-group-label">http://</span>
            <input class="input-group-field" id="live_url" type="text" name="live_url" placeholder="projectname.airshipcms.io">
          </div>

          <label for="github_url">Github URL (optional)</label>
          <div class="input-group">
            <span class="input-group-label">https://github.com/</span>
            <input class="input-group-field" id="github_url" type="text" name="github_url" placeholder="username/repository">
          </div>

          <button type="submit" id="submit">Submit</button>
          <div class="notification" style="display: none">Your game has been submitted!</div>
        </form>

        <h3>Step 2: Submit Your Game to GGJ Official (allow 1 hour)</h3>
        <p>Secret: If you are short on time before 3pm, fill out what you can, and update your submission <em>after local presentations!</em> Then you don't have to stress out!!</p>
      </div>
    </div>
  </div>
</div>
