<div class="container">
  <div class="row">
    <div class="show-for-large large-6 columns">
      <div class="block">
        <img src="/assets/media/banner.jpg" alt="Global Game Jam 2017 - Honolulu">
      </div>
    </div>
    <div class="small-12 large-6 columns">
      <div class="block info-block">
        <h1>Global Game Jam 2017 Theme</h1>
        <div class="theme">
          <h1>?</h1>
          <!-- haha... you checked the source. theme isn't here!! ;) -->
          <h3>Very Secret Theme</h3>
        </div>
        <p>The theme will be announced on Friday January 20 at 6pm HST! Hawaii is the last group to know the theme. The rest of the world will be keeping the theme a secret until it is revealed to us! After the official theme reveal, the theme and keynote will be posted here!</p>
        <p>In the meantime, you can check out examples of past themes <a href="http://globalgamejam.org/history" target="_blank">here</a>.</p>
        <h1>Global Game Jam 2017 Diversifiers</h1>
        <p>In addition to the theme, there are several <em>optional</em> diversifiers that have been announced to make the game jam challenging. Here is more information, straight from <a href="http://globalgamejam.org/news/and-ggj17-diversifiers-are" target="_blank">the official GGJ website:</a></p>

        <p>The GGJ Diversifier system is aimed at providing motivation for experienced game jammers, and making it easier to search for different types of games among the thousands that are created. In a sense, the diversifiers are a free-for-all voluntary list of secondary constraints, that the individual teams can choose to go for, or not, as they please. If they do go for one or more diversifiers, they get to check off those diversifiers as fulfilled when uploading their game. Diversifiers are absolutely voluntary, and no points are given for using them, or taken away for not using them. If you are a first-time team of students, we recommend that you focus primarily on the overall constraint (the theme that will be announced on Friday), and only add in extra diversifiers if you feel sure you will have something to hand in on Sunday.</p>

        <h3>Why do we have “diversifiers”?</h3>

        <p>- They ease the discoverability issues of the GGJ site, making it easier to search.
        <br>- To let experienced jammers push themselves in interesting directions
        <br>- To help jammers ideate with a fast track
        <br>- Creativity is born from constraints. :)</p>
        
        <p>A diversifier must be self-evident so that anyone who downloads a game, can verify that the game fulfills the diversifiers it claims.</p>

        <h3>How many Diversifiers can I choose?</h3>

        <p> You can assign a maximum of four (4) diversifiers to your game. You can of course use more if you want, but you can only link a maximum of four on the GGJ site. You can choose any number up to four, and of course don't have to choose any diversifier at all! Diversifiers are mainly meant as extra challenges for the experienced jammers and to ease discoverability of games on the site.</p>

        <h3>How do I add a Diversifier to my game?</h3>

        <p>The diversifiers for a given game are listed on the game page. You select them by checking the boxes for the diversifiers you used.</p>

        <h3>Are the Diversifiers secret?</h3>

        <p>No, the diversifiers are not secret. Feel free to announce them to your jammers and discuss with your colleagues.</p>

        <p>Remember the diversifiers are voluntary, and secondary to the theme!</p>

        <p>Whether you're looking to add more personal challenge to Global Game Jam®, make a game that fills a specific niche, or just help your game stand out from the crowd, diversifiers are for you.</p>

        <h2>The diversifiers for 2017 are:</h2>

        <h3>Beyond the doors of perception (Tobii Sponsored)</h3>
        <p>Use Tobii's eye tracking device to extend your player's view in-game and break the 4th wall! Jammers can incorporate Extended View, Awareness or both effects into their game. - Design, Code</p>

        <h3>Don’t say a word (ESA Sponsored)</h3>
        <p>A multiplayer game that requires communication between players, without relying on text or voice. - Accessibility, Design, Code</p>

        <h3>The colour and the shape</h3>
        <p>A colour-based game that can also be played by people who have any kind of difficulty seeing colour. - Accessibility, Art, Design</p>

        <h3>I see what you're saying</h3>
        <p>All audio is subtitled, and the presentation of the subtitles (e.g. size, colour, container) can be customised by player. - Accessibility, Code</p>

        <h3>Spaced</h3>
        <p>Played using only the spacebar - no mouse, no other inputs. - Accessibility, Design</p>

        <h3>Another way in</h3>
        <p>Allow players to choose which input method they want to use, e.g. choice between mouse or keyboard, choice between tilt, virtual stick or tap, choice between controller or voice. - Accessibility, Design</p>

        <h3>Old Masters</h3>
        <p>The art style of your game is based off of a master artist's style (i.e. Picasso, Klimt, Van Gogh). - Art</p>

        <h3>Chipping In </h3>
        <p>The game uses only 8 bit style audio, only 8 bit style visuals, or both. - Audio, Art</p>

        <h3>Local Lore </h3>
        <p>Incorporate a local urban legend, myth, lore, or history into your game. - Art, Design</p>

        <h3>Lost library card</h3>
        <p>All sound sources are recorded or synthesised during the jam. - Audio</p>

        <h3>Virtuoso</h3>
        <p>A physical musical instrument is used as an input device. - Audio, Design, Code</p>

        <h3>Public information </h3>
        <p>Use offline or live data from a public API in your game. - Code</p>

        <h3>NOT THE BEES </h3>
        <p>The mechanic is based on swarm tactics. - Code, Design</p>

        <h3>Game Legacy </h3>
        <p>Each playthrough of the game affects the next. - Code, Design</p>

        <h3>VRiends</h3>
        <p>A VR game where people inside VR and people outside VR have to work together. - Design</p>

        <h3>Crowd Control </h3>
        <p>Your game must be played by 8 or more players. - Design</p>

        <h3>Time Lord </h3>
        <p>Your game offers variations based on the time of day it is played. - Design</p>

        <h3>To me, to you</h3>
        <p>The game must have a single playable character that is controlled by two players. - Design</p>

        <h3>Instrumental</h3>
        <p>All sound is sourced from variations of a single instrument, e.g. different types of guitar, or different types of piano. - Audio</p>

        <h3>Switcharoo! </h3>
        <p>Two teams swap games halfway through the jam and finish the other's game. - Meta</p>

        <h2>Other Innovations</h2>
        <p>How about making your game accessible to people with disabilities? Here's some information on accessibility from the <a href="http://globalgamejam.org/faq" target="_blank">official GGJ FAQ page</a>:</p>

        <p>Over 20% of gamers have some kind of impairment that may affect their ability to play a game. Avoiding the barriers they face not only means more players, it also makes a real difference to people's quality of life. Independent access to recreation, culture and socialising may not be easily available, and games can provide that.</p>

        <p>There are four main types of impairment. Considerations for them range in complexity and not all are appropriate to all game mechanics. but whichever one/s you choose to design for, there's a huge opportunity for innovation, new approaches that haven't been tried before.</p>

        <h3>Visual (ability to see)</h3>

        <p>Example conditions: color blindness, glaucoma, myopia</p>

        <p>Example considerations: Reinforcing color information with symbol or shape, ensuring large clear visuals and text, audio game with no reliance on visuals</p>

        <h3>Motor (ability to operate a controller)</h3>

        <p>Example conditions: RSI, cerebral palsy, Parkinson's</p>

        <p>Example considerations: Remappable controls, simple/one button controls, no reliance on precise timing or accurate movement</p>

        <h3>Hearing (ability to hear)</h3>

        <p>Example conditions: presbycusis, auditory processing disorder, otosclerosis</p>

        <p>Example considerations: Subtitles, separate volume for background/effects/speech, visual representation of important gameplay sounds</p>

        <h3>Cognitive (ability to understand, remember, process information)</h3>

        <p>Example conditions: aspergers, dyslexia, global developmental delay</p>

        <p>Example considerations: dismiss text on button press rather than a timer, ingame contextual help/guidance, option to turn off all non-interactive elements</p>

        <p>For more ideas and inspiration, see the <a href="http://gameaccessibilityguidelines.com/" target="_blank">Game Accessibility Guidelines website.</a></p>

        <p>Most importantly though, list all accessibility features on your game's GGJ page, to let players know that your game is suitable for them.</p>
      </div>
    </div>
  </div>
</div>