<!DOCTYPE html>

<!-- Add class "no-js" here, then target elements that should be hidden before js loads -->
<html class="no-js" lang="en">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KPDZLK4');</script>
  <!-- End Google Tag Manager -->
  <meta charset="UTF-8">
  <title>Global Game Jam 2017 - Honolulu</title>

  <!-- Needed for MOBILE STYLES to take effect -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Needed for FOUNDATION -->
  <script src="https://code.jquery.com/jquery.min.js" type="text/javascript"></script>
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Patrick+Hand" rel="stylesheet">
  <link rel="stylesheet" href="/assets/styles/styles.css">
  <meta property="og:type" content="place">
  <meta property="og:title" content="Global Game Jam 2017 - Honolulu">
  <meta property="og:description" content="Jan 20, 2017 5:30pm Manoa Innovation Center Presentation Room 2800 Woodlawn Dr. Honolulu, HI 96822 The event is FREE!! In order to participate in this event, you will need to sign up at the Official Global Game Jam page. Sign up ASAP!!">
  <meta property="og:url" content="http://ggj.airshipcms.io">
  <meta property="og:image" content="http://ggj.airshipcms.io/assets/media/banner.jpg">
  <meta property="place:location:latitude" content="21.308860">
  <meta property="place:location:longitude" content="-157.808582">
  <meta property="fb:app_id" content="246176315794267">

</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KPDZLK4"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header>
    <nav>
      <ul>
        <li class="nav-home"><a href="/">Home</a></li>
        <li class="nav-about"><a href="/about">About</a></li>
        <li class="nav-schedule"><a href="/schedule">Schedule</a></li>
        <li class="nav-theme"><a href="/theme">Theme</a></li>
        <li class="nav-submission"><a href="/submission">Submission</a></li>
        <li class="nav-faq"><a href="/faq">FAQ</a></li>
        <li class="nav-resources"><a href="/resources">Resources</a></li>
        <li class="nav-contact"><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  {{{template}}}

  <!-- FOUNDATION -->
  <script src="/assets/scripts/what-input.js"></script>
  <script src="/assets/scripts/foundation.js"></script>
  <script src="/assets/scripts/app.js"></script>
</body>
</html>