// LAYOUT STYLE GUIDE

// Structure for "rows" of content follow this convention:
// Outermost Container (BG color):          .container.named-container
// Foundation Row:                            .row
// Foundation Columns:                          .large-12.columns
// Inner Block (margin/padding/border)            .block.named-block

// As much as possible, don't apply classes or styles
// to elements containing Foundation's rows and columns.
// (thus the convention for an outer container and inner block).

.container{
  // background-color: #EEEEEE;

  &.header-container{
    
  }

  &.footer-container{
    // background-color: #222222;
  }
}

.block{
  // border: 1px dashed #CCCCCC;

  &.header-block{
    border: 0;
  }

  &.footer-block{
    border: 0;
  }
}

h1, h2, h3{
  text-align: left;
  max-width: 710px;
  margin: auto;
  font-family: 'Patrick Hand', sans-serif;
}

h1{
  font-size: 46px;
  line-height: 46px;
  margin-bottom: 20px;
  color: #F7960F;
}

h2{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  color: #24AEB5;
}

h3{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  color: #F7960F;
}

p + h1,
p + h2{
  margin-top: 30px;
}

p + h3{
  margin-top: 20px;
}

h1 + h2{
  margin-top: -10px;
}

h2 + h3{
  margin-top: 10px;
}

p{
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  max-width: 710px;
  margin: auto;
  color: #555;

  + p{
    margin-top: 20px;
  }

  &.secret{
    color: #F7960F;
  }
}

a{
  color: #24AEB5;

  &:hover{
    color: darken(#24AEB5, 20%);
  }
}

.block.info-block{
  padding: 30px 6%;

  &.homepage-block{
    padding-top: 0;

    @include breakpoint(large){
      padding: 50px 0 70px;
    }
  }

  @include breakpoint(large){
    padding: 50px 0 70px;
  }
}

.block img{
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

table{
  display: block;
  margin: auto;
  max-width: 710px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  
  th{
    text-align: left;
    padding: 5px;
    font-size: 12px;
    font-weight: normal;
    color: #888;
  }

  tr{
    background-color: #F8F8F8;

    &:nth-child(2n+1){
      background-color: #FFF;
    }
  }

  td{
    padding: 15px 20px 15px 5px;
    vertical-align: top;
  }
}

.workshops{
  border: 1px solid #F7960F;
  background-color: lighten(#F7960F, 40%);
  padding: 20px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  max-width: 710px;

  h1{
    margin-top: 0;
    font-size: 40px;
    line-height: 40px;
  }

  a{
    color: darken(#F7960F, 5%);

    &:hover{
      color: darken(#F7960F, 10%);
    }
  }
}

header{
  background-color: #333;
  padding: 10px 0 1px;

  @include breakpoint(medium){
    padding: 0;
  }

  nav{

    ul{
      text-align: center;

      li{
        display: inline-block;
        list-style-type: none;
        
        &.active{

          a{
            color: #F7960F;

          }
        }

        a{
          font-family: 'Patrick Hand', sans-serif;
          font-size: 22px;
          color: #888;
          padding: 0 10px;
          display: block;

          &:hover{
            color: #F7960F;
          }

          @include breakpoint(medium){
            padding: 10px 10px;
          }
        }
      }
    }
  }
}

a.button,
button{
  display: block;
  padding: 15px 30px;
  font-family: 'Patrick Hand', sans-serif;
  font-size: 28px;
  color: white;
  background-color: #F7960F;
  border-radius: 2px;
  border: 0;
  border-bottom: 4px solid darken(#F7960F, 10%);
  margin-bottom: 0;

  @include breakpoint(medium){
    display: inline-block;
  }

  &:hover,
  &:active{
    background-color: darken(#F7960F, 5%);
    border-bottom: 1px solid darken(#F7960F, 15%);
    margin-bottom: 3px;
    transform: translateY(3px);
    cursor: pointer;
  }

  &.clicked{
    background-color: #CCC;
    border-bottom: 1px solid #AAA;
    margin-bottom: 3px;
    transform: translateY(3px);
    cursor: pointer;
  }
}

.theme{
  background-color: #DDD;
  padding: 30px;
  border: 1px dashed #AAA;
  margin: auto;
  margin-bottom: 30px;
  max-width: 710px;

  h1{
    text-align: center;
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 100px;
    border: 1px dashed #888;
    background-color: #EEEEEE;
    border-radius: 100%;
    color: #AAA;
  }

  h3{
    text-align: center;
    color: #AAA;
  }
}

iframe{
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 100%;
}

.block ol, .block ul{
  max-width: 710px;
  margin: auto;
  padding: 0;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.block ol li,
.block ul li{
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  max-width: 710px;
  margin: auto;
  color: #555;
  padding-left: 5px;
}

form{
  max-width: 710px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

label,
.input-group-label{
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: #555;
}

input[type="text"], textarea,
input.input-group-field{
  font-family: 'Open Sans', sans-serif;
}

textarea{
  min-height: 100px;
}

ul.projects{
  list-style-type: none;
  max-width: 710px;
  margin:0 auto;
  padding:10px 10px;
}

@include breakpoint(large){
  ul.projects{
    display: flex;
    flex-flow: row wrap;
  }
}

li.project{
  margin:0;
  padding:0;
  padding: 15px 20px 20px;
  margin-bottom: 10px;
  border-radius: 2px;
}

// li.project:nth-child(4n){
//   background-color: #F7960F;
// }

li.project:nth-child(3n+1){
  background-color: #9E5CBE;
}

li.project:nth-child(3n+2){
  background-color: #8FB843;
}

li.project:nth-child(3n){
  background-color: #24AEB5;
}

@include breakpoint(large){
  ul.projects li.project{
    flex: 0 0 48%;
    margin-left: 1%;
    margin-right: 1%;
  }
}

li.project h2{
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 10px;
  color: white;
}

li.project p{
  font-size: 13px;
  line-height: 17px;
  color: white;
}

li.project p.url{
  font-size: 13px;
  line-height: 17px;
  color: white;
  word-break: break-all;
}

li.project p.game_description{
  max-height: 120px;
  overflow: hidden;
}

li.project p + p{
  margin-top: 10px;
}

li.project p a{
  opacity: 0.7;
  color: white;
}

li.project p a:hover{
  opacity: 1;
}

p.notification{
  font-family: 'Patrick Hand', sans-serif;
  font-size: 22px;
  margin-top: 5px;
  background-color: #F7960F;
  padding: 0 10px;
  border-radius: 3px;
  color: white;
}